$colorbg:cornsilk;
$colorp:black;
$fontSize:70px;
$fontSize2: $fontSize - 30;
$fontSize3: $fontSize - 40;
$fontSize4: $fontSize - 10;
$width: 750px;
$width1: $width - 250;
  
  body {
    background-color:$colorbg;
    height: 100vh;
    background-image: url(../assets/fondoPagina.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  h1 {
    font-family:'Courier New', Courier, monospace;
    color:rgb(75, 36, 36);
    font-size: $fontSize;
    font-weight: bold;
    border-radius: 2px;
    margin-right:25%;
    margin-left: 25%;
    animation-name: entradaTitulo;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration:2s;
    animation-delay: 0s;
  }
  @keyframes entradaTitulo{
    0%{ 
      opacity: 0;  
    }
    100%{
      opacity: 1;
    } 
  }
  .encabezadoLogo{
    width: 100px;
    height: 100px;
    margin-top:0;
  }
  .inicio{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:50px;
  }
  .videoInicio{
    width: $width;
    height:600px;
  }
  .ubicacion{
    width: $width1;
    height: $width1;
    margin-top:50px;
  }
  .presentacion{
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   margin:50px;
  }
  .presentacion__p {
    color:$colorp;
  }
  .presentacion__h4 {
    color:$colorp;
    font-size:30px;
    margin-top:50px;
    margin-left:10px;
  }
  footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to right,palegoldenrod,rgb(165, 165, 80));
    border: 15px solid rgba(238, 232, 170, 0.377);
    margin-bottom:none;
  }
  .zocaloLogo{
    height: 70px;
    width: 70px;
    margin-left:50px;
  }
  i {
    font-size: 2rem;
    color:brown;
    margin:0,2rem;
  }
  .formulario{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin: {
        left:10px;
        right:10px;
    }
    font-weight: bold;
  }
  ol{
    li{
      background-color:beige;
      margin-right: 25%;
      margin-left:25%;
      font-size: 20px;
      font-weight: bold;
      list-style-type: none;
    }
  }
  .formulario__.botones {
    display:inline-block;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .paraTransicion:hover{
    transition: 2s;
    font-size: 2rem;
  }
  h5{
    color:black;
    font-weight: bold;
  }
  @mixin fontStyle ($color){
    color:$colorp;
    background-color: $color;
  }
  p{
    @include fontStyle (beige);
  }
  h4{
    @include fontStyle(rgb(223, 157, 37));
  }
  .error404{
    margin-left:50%;
    margin-right: 25%;
    width:200px;
    height: 200px;

     p{
       font-size: 20px;
       border:2px black solid;
       text-align: center;
       align-items: center;
     }
  }

  @media only screen and (min-width: 401px) and (max-width: 768px) {
    .inicio {
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-left:25%;
      margin-right:25%;
      justify-content: space-between;
    }
    .videoInicio{
      width: 350px;
      height:350px;
    }
    .ubicacion{
      width: 250px;
      height: 150px;
      margin-left:50%;
      margin-right:50%;
    }
    footer{
      display:flex;
      flex-direction: column;
      justify-content: start;
    }
    .encabezado{
      display: flex;
      flex-direction: column;
      justify-content:center;
    }
    h1{
      font-size:$fontSize2;
      margin-right:25%;
      margin-left:25%;
    }
    .propiedades {
      display:grid;
      grid-template-columns: 100%;
      grid-template-rows: 25% 25% 25% 25%;
      border:palegoldenrod 2px solid;
      color: rgba(0, 0, 0, 0.719);
      text-align: justify;
      word-spacing: 2px;
      font-style: italic; 
      margin: 20px;
    }
    img{
      width: 350px;
      height: 300px;
      margin-top:20px;
      margin-bottom:20px;
    }
    .zocaloLogo{
      height: 70px;
      width: 70px;
      margin-left:50px;
    }  
    h5{
      font-size:15px;
    } 
    p{
      font-size: 15px;
    }
    ol{
      li{
        background-color:white;
        font-size: 10px;
        font-weight: bold;
        list-style-type: none;
      }
    }
  }
  @media only screen and (max-width: 400px) {
    .inicio {
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-left:25%;
      margin-right:25%;
      justify-content: space-between;
    }
    .videoInicio{
      width: 300px;
      height:250px;
    }
    .ubicacion{
      width: 200px;
      height: 100px;
      margin-left:50%;
      margin-right:50%;
    }
    footer{
      display:flex;
      flex-direction: column;
      justify-content: start;
    }
    .encabezado{
      display: flex;
      flex-direction: column;
      justify-content:center;
    }
    h1{
      font-size:$fontSize3;
      margin-right:25%;
      margin-left:25%;
    }
    .propiedades {
      display:grid;
      grid-template-columns: 100%;
      grid-template-rows: 25% 25% 25% 25%;
      border:palegoldenrod 2px solid;
      color: rgba(0, 0, 0, 0.719);
      text-align: justify;
      word-spacing: 2px;
      font-style: italic; 
      margin: 20px;
    }
    img{
      width: 200px;
      height: 200px;
      margin-top:20px;
      margin-bottom:20px;
    }
    .zocaloLogo{
      height: 70px;
      width: 70px;
      margin-left:50px;
    }  
    h5{
      font-size:15px;
    } 
    p{
      font-size: 15px;
    }
    ol{
      li{
        background-color:white;
        font-size: 10px;
        font-weight: bold;
        list-style-type: none;
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .inicio {
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-left:25%;
      margin-right:25%;
      justify-content: space-between;
    }
    .videoInicio{
      width: 550px;
      height:400px;
    }
    .ubicacion{
      width: 250px;
      height: 150px;
      margin-left:50%;
      margin-right:50%;
      margin-top:50px;
    }
    footer{
      display:flex;
      flex-direction: column;
      justify-content: start;
    }
    .encabezado{
      display: flex;
      flex-direction: column;
      justify-content:center;
    }
    h1{
      font-size:60px;
      margin-right:25%;
      margin-left:25%;
    }
    .propiedades {
      display:grid;
      grid-template-columns: 100%;
      grid-template-rows: 25% 25% 25% 25%;
      border:palegoldenrod 2px solid;
      color: rgba(0, 0, 0, 0.719);
      text-align: justify;
      word-spacing: 2px;
      font-style: italic; 
      margin: 20px;
    }
    img{
      width: 450px;
      height: 450px;
      margin-top:20px;
      margin-bottom:20px;
    }
    .zocaloLogo{
      height: 70px;
      width: 70px;
      margin-left:50px;
    }  
    h5{
      font-size:20px;
    } 
    p{
      font-size: 20px;
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .inicio {
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-left:25%;
      margin-right:25%;
    }
    .videoInicio{
      width: 750px;
      height:600px;
    }
    .ubicacion{
      width: 350px;
      height: 350px;
      margin-left:50%;
      margin-right:50%;
      margin-top:50px;
    }
    footer{
      display:flex;
      flex-direction: column;
      justify-content: start;
    }
    .encabezado{
      display: flex;
      flex-direction: column;
      justify-content:center;
    }
    h1{
      font-size:$fontSize4;
      margin-right:25%;
      margin-left:25%;
    }
    .propiedades {
      display:grid;
      grid-template-columns: 100%;
      grid-template-rows: 25% 25% 25% 25%;
      border:palegoldenrod 2px solid;
      color: rgba(0, 0, 0, 0.719);
      text-align: justify;
      word-spacing: 2px;
      font-style: italic; 
      margin: 20px;
    }
    img{
      width: 550px;
      height: 550px;
      margin-top:20px;
      margin-bottom:20px;
    }
    .zocaloLogo{
      height: 70px;
      width: 70px;
      margin-left:50px;
    }
    h5{
      font-size:25px;
    } 
    p{
      font-size: 20px;
    }
  }
